/* ------------------------------

transitions

------------------------------ */
.art-a {
    transition: 0.4s ease-in-out;
  }
  /* ----- in animation ----- */
  .transition-fade {
    transition: 0.4s ease-in-out;
    opacity: 1;
  
    & .art-a {
      transform: scale(1);
      opacity: 1;
    }
  
    & .art-price {
      &.art-popular-price {
        transform: scale(1.03);
      }
    }
  }
  /* ----- out animation ----- */
  html.is-animating .transition-fade {
    opacity: 0;
  
    & .art-a {
      transform: scale(.93);
      opacity: 0;
    }
  }
  
  html.is-animating {
    & .art-a,
    & .art-current-page {
      opacity: 0;
    }
  }
  /* ----- in animation ----- */
  .fade-right {
    transform: translateX(0);
    opacity: 1;
  }
  /* ----- out animation ----- */
  html.is-animating .fade-right {
    transform: translateX(-60px);
    opacity: 0;
  }
  /* ----- in animation ----- */
  .fade-left {
    transform: translateX(0);
    opacity: 1;
  }
  /* ----- out animation ----- */
  html.is-animating .fade-left {
    transform: translateX(60px);
    opacity: 0;
  }

  .art-menu-bar-btn span, .art-menu-bar-btn span:after, .art-menu-bar-btn span:before {
    content: "";
    display: block;
    width: 15px;
    height: 3px;
    border-radius: 1px;
    background: #8c8c8e;
    // -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    // -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .art-menu-bar-btn span:after, .art-menu-bar-btn span:before{
    position: absolute;
  }

  .art-menu-bar-btn span:before{
    top: -5px;
  }
  
  @media (max-width: 920px) {
    .transition-fade {
      & .art-price {
        &.art-popular-price {
          transform: scale(1);
        }
      }
    }
  }
  